<h1>About The Family Recipe</h1>
<p>This site was created by a team of students at Texas A&M University as class project. The idea came from their client, who wanted a simple and quick way to store recipes and share them with friends and family.</p>

<p>This site gives users the ability to add recipes either manually or by uploading an image. Users are able to search through their recipes so they can quickly find which recipe they are looking for. Users are also able to organize recipes into "My Recipes", which are the recipes they already know they love, and "Trial Recipes", which are the recipes that they have yet to try. Users can also create grocery lists from the recipes they have decided to cook.</p>
