<h1>Frenquently Asked Questions</h1>

<body>
<h2>How can I organize my recipes into categories?</h2>
<p>You can use the "Tag" field to add keywords to your recipes. For example, if the recipe is usually cooked on Thanksgiving, simply add "Thanksgiving" in the tag field. This will cause this recipe to come up when "Thanksgiving" is searched. 

<h2>How can I search for a recipe?</h2>
<p>Once you click on "All Recipes", a list of all of the recipes available will be listed. You can then type in the keyword that you are looking for into the search field. A list of recipes that have a tag with that keyword will be listed.</p>

<h2>Can I add multiple tags to a recipe?</h2>
<p>Yes! For example, if the recipe is a typical Thanksgiving day recipe and you got the recipe from your grandma, add "Thanksgiving grandma" to the tag field. When you search for Thanksgiving OR grandma, that recipe will be listed.</p>

<h2>Does order or capitilization matter in the Tag field? </h2>
<p>No! You can enter your tag in any order and search in any order. If the keyword is in the tag, it will be listed in the search results. The search field recognizes both upper case or lower case letters so don't worry about capitilization!</p>

<h2>What if I want to try a recipe but I'm not sure if I want to add it to My Recipes?</h2>
<p>Simply check the Trial Recipe box when creating or editing a recipe and it will be added to Trial Recipes instead of My Recipes. If you decide you want to keep the recipe after you try it, click edit and uncheck the Trial Recipe box. It will then be added to My Recipes. If you don't like the recipe, just click delete.</p>
</body>
